<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Play the Story</h4>
        <div class="form-group">
            <input type="text" ng-model="current.title" />
            <textarea type="text" ng-model="current.content" rows="10"></textarea>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="initialize()">Start Over</button>
              <button type="button" class="btn btn-default" ng-click="previous()">Previous</button>
              <button type="button" class="btn btn-default" ng-click="next()">Next</button>
            </div>
        </div>
    </div>
</div>